@* <div class="modal fade" id="dynamicModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="dynamicModalContent"></div>
        <!-- Dynamic content will load here -->
    </div>
</div> *@

@* Shared modal shell used by all popups *@
<div class="modal fade" id="appModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="appModalContent">
            @* Content will be injected here by JS *@
        </div>
    </div>
</div>


@* <div class="modal fade" id="actionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="modalContent">
            <!-- Dynamic content will load here -->
        </div>
    </div>
</div> *@
